
html, body {
    font-size: 90% ;
  }
  
  body {
    background: #dd6d11;
    font-size: large;
    overflow: hidden;
    text-align: center;
  }
  
form {
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}