

<!DOCTYPE html>
<html lang="en">
<head>
<title>Security Categorizing of StackOverflow code snippets</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/categorizingStyles.css' %}">
</head>
<body>
    <div class="demo">
        <header class="demo__header"></header>
        <div class="demo__content">
            <div class="demo__card-cont">
              <div class="demo__card">
                <div class="demo__card__top brown">
                  <div class="demo__card__img"></div>
                  <p class="demo__card__name">{{code}}</p>
                </div>
                <div class="demo__card__btm">
                  <p class="demo__card__we">{{ language }}</p>
                </div>
                <div class="demo__card__choice m--reject"></div>
                <div class="demo__card__choice m--like"></div>
                <div class="demo__card__drag"></div>
              </div>
            </div>
        <p class="demo__tip">Swipe left or right</p>
        </div>
    </div>


    <form id="categorize" action="/categorize/" method="POST"> >
      <div>
        {% csrf_token %}
        <input type="hidden" id="categorization" name="categorization"  value=0> 
        <!--<input type="hidden" id="code_id" name="code_id" value=0> -->
      </div>
    </form>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  
  {% load static %}
    <script  src="{% static 'js/script.js' %}"></script>

</body>
</html>
