<!DOCTYPE html>
<html lang="en">
<div>
  <head>
    <title>Security Categorizing of StackOverflow code snippets</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <h1>Security Categorizing of StackOverflow code snippets</h1> 
    <br>
    <br>
    <p>Please choose the programming language of your code snippets </p>
  </head>
</div>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/chooseStyle.css' %}">
  
  <body>
    
    <form action="/language/" method="GET"> 
      <select id='choosenLanguage' name="choosenLanguage"> 
          
          
        {% for language in languages %} 
            <option> {{ language }}</option>
        {%endfor%} 
      </select>
      <input type="submit" value="Start">
  </form>

</body>
</html>
